@model MvcApplication6.Models.candidato

@{
    ViewBag.Title = "Consultar Candidatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/plugins/jquery.multiple.select.js")"></script>
<link href= "@Url.Content("~/Content/css/plugins/dataTables/dataTables.bootstrap.css")" rel="stylesheet">
<link href= "@Url.Content("~/Content/css/multiple-select.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/plugins/dataTables/jquery.dataTables.js")"></script>
<script src="@Url.Content("~/Scripts/Tablas/ConsultarCandidatosTabla.js")"></script>

<div class="table-responsive">
    <div class="infoDisponible">
        Mostrar:
        <select class="toogle-vis" id="mostrar_ocultar" multiple="multiple" name="select[]">
            <option value="0">Nombre</option>
            <option value="1">Apellido Paterno</option>
            <option value="2">Apellido Materno</option>
            <option value="3">CURP</option>
            <option value="4">RFC</option>
            <option value="5">E-mail</option>
            <option value="6">Teléfono</option>
            <option value="7">Tecnologías</option>
            <option value="8">Palabras clave</option>
            <option value="9">Fecha</option>
        </select>
    </div>
    <table class="table table-striped table-bordered table-hover" id="candidatos">
        <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>CURP</th>
                    <th>RFC</th>
                    <th>E-mail</th>
                    <th>Teléfono</th>
                    <th>Tecnología</th>
                    <th>Palabras Clave</th>
                    <th>Fecha</th>
                    <th>id_candidato</th>
                    <th>opciones</th>
                </tr>
        </thead>
        <tbody>
            @try
            {
                foreach(var can in ViewBag.candidatos)
                { 
                    <tr>
                        <td>@can.persona.nombre</td>
                        <td>@can.persona.apePaterno</td>
                        <td>@can.persona.apeMaterno</td>
                        <td>@can.CURP</td>
                        <td>@can.RFC</td>
                        <td>@can.email</td>
                        <td>@can.telefono</td>
                        <td>
                            @foreach(MvcApplication6.Models.tecnologia tec in @can.tecnologia)
                            {
                                @tec.nombre<br />
                            }
                        </td>
                        <td>@can.palabrasClave</td>
                        <td>@can.fecha_registro</td>
                        <td id="id_candidato">@can.idCandidato</td>
                        <td>@Html.ActionLink("Editar", "Edit", new { id=can.idCandidato }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id=can.idCandidato})</td>
                    </tr>
                }
            }
            catch (NullReferenceException)
            {
            } 
            catch( Exception)
            {
            } 
        </tbody>
    </table>
</div>
