@model MvcApplication6.Models.candidato

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Editando candidato...</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "Campos con valores no validos.")
                             <form role="form">
                                 <div class="form-group">
                                     @Html.LabelFor(model => model.CURP)
                                     @Html.TextBoxFor(model => model.CURP, new { @class = "form-control" })
                                     @Html.ValidationMessageFor(model => model.CURP)
                                 </div>
                                 <div class="form-group">
                                     @Html.LabelFor(model => model.persona.nombre)
                                     @Html.TextBoxFor(model => model.persona.nombre, new { @class = "form-control" })
                                     @Html.ValidationMessageFor(model => model.persona.nombre)
                                 </div>
                                 <div class="form-group">
                                     @Html.LabelFor(model => model.persona.apePaterno)
                                     @Html.TextBoxFor(model => model.persona.apePaterno, new { @class = "form-control" })
                                     @Html.ValidationMessageFor(model => model.persona.apePaterno)
                                 </div>
                                 <div class="form-group">
                                     @Html.LabelFor(model => model.persona.apeMaterno)
                                     @Html.TextBoxFor(model => model.persona.apeMaterno, new { @class = "form-control" })
                                     @Html.ValidationMessageFor(model => model.persona.apeMaterno)
                                 </div>
                                 <div class="form-group">
                                     @Html.LabelFor(model => model.RFC)
                                     @Html.TextBoxFor(model => model.RFC, new { @class = "form-control" })
                                     @Html.ValidationMessageFor(model => model.RFC)
                                 </div>
                                 <div class="form-group">
                                     @Html.LabelFor(model => model.email)
                                     @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
                                     @Html.ValidationMessageFor(model => model.email)
                                 </div>
                                 <div class="form-group">
                                     @Html.LabelFor(model => model.telefono)
                                     @Html.TextBoxFor(model => model.telefono, new { @class = "form-control" })
                                     @Html.ValidationMessageFor(model => model.telefono)
                                 </div>
                                 <div class="form-group">
                                     <label>Tecnologías</label>
                                      @{
                                          List<MvcApplication6.Models.tecnologiaCandidato> tecs =  ViewBag.tecnologias;
                                          foreach (var t in tecs)
                                          {
                                              <div class="checkbox">
                                                  <label>
                                                      <input type="checkbox" name="tecnologiasList" value="@t.idTecnologia"
                                                          @Html.Raw( t.domina ? "checked=\"checked\"" : "") />@t.nombreTecnologia
                                                  </label>
                                              </div>
                                          } 
                                      }
                                 </div>
                                 <div class="form-group">
                                     @Html.LabelFor(model => model.palabrasClave)
                                     @Html.TextAreaFor(model => model.palabrasClave, new { @class = "form-control" })
                                     @Html.ValidationMessageFor(model => model.palabrasClave)
                                 </div>
                                 <p>
                                     <input type="submit" value="Guardar" class="btn btn-default" />
                                 </p>
                             </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

