
@{
    ViewBag.Title = "ConsultarCandidatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href= "@Url.Content("~/Content/css/plugins/dataTables/dataTables.bootstrap.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/plugins/dataTables/jquery.dataTables.js")"></script>
<script src="@Url.Content("~/Scripts/Tablas/ConsultarCandidatosTabla.js")"></script>

<div class="panel panel-default">
    <div class="panel-heading"> Sus candidatos. </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="candidatos">
                <thead>
                     <tr>
                         <th>Nombre</th>
                         <th>Apellido Paterno</th>
                         <th>Apellido Materno</th>
                         <th>CURP</th>
                         <th>RFC</th>
                         <th>E-mail</th>
                         <th>Teléfono</th>
                         <th>Tecnología</th>
                         <th>Palabras Clave</th>
                         <th>Fecha</th>
                         <th></th>
                     </tr>
                </thead>
                <tbody>
                    @try
                    {
                        foreach(var candidato in Model)
                        { 
                            <tr>
                                <td>@candidato.nombre</td>
                                <td>@candidato.apePaterno</td>
                                <td>@candidato.apeMaterno</td>
                                <td>@candidato.CURP</td>
                                <td>@candidato.RFC</td>
                                <td>@candidato.email</td>
                                <td>@candidato.telefono</td>
                                <td>Tecnologias</td>
                                <td>@candidato.palabrasClave</td>
                                <td>@candidato.fecha_registro</td>
                                <td id="id_candidato">@candidato.idCandidato</td>
                            </tr>
                        }
                    }
                    catch (NullReferenceException)
                    {
                    } 
                    catch( Exception)
                    {
                    } 
                </tbody>
            </table>
        </div>
    </div>
</div>
