@model MvcApplication6.Models.reclutador
@{
    ViewBag.Title = "Editar datos de reclutador.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">@ViewBag.Title</div>
            <div class="panel-body">
                <div class="row">
                    <div class="">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "Campos con valores no validos.")
                             <form role="form">
                                 <div class="col-xs-6 form-group">
                                     @Html.LabelFor(model => model.persona.nombre)
                                     @Html.TextBoxFor(model => model.persona.nombre, new { @class = "form-control", @onfocus="javascript:eliminarEspacios(this)" })
                                     @Html.ValidationMessageFor(model => model.persona.nombre)
                                 </div>
                                 <div class="col-xs-6 form-group">
                                     @Html.LabelFor(model => model.persona.apePaterno)
                                     @Html.TextBoxFor(model => model.persona.apePaterno, new { @class = "form-control", @onfocus="javascript:eliminarEspacios(this)" })
                                     @Html.ValidationMessageFor(model => model.persona.apePaterno)
                                 </div>
                                 <div class="col-xs-6 form-group">
                                     @Html.LabelFor(model => model.persona.apeMaterno)
                                     @Html.TextBoxFor(model => model.persona.apeMaterno, new { @class = "form-control", @onfocus="javascript:eliminarEspacios(this)" })
                                     @Html.ValidationMessageFor(model => model.persona.apeMaterno)
                                 </div>
                                 <div class="col-xs-6 form-group">
                                     <label>Permisos:</label>
                                     @if(Model.permisos==1)
                                     {
                                         <label>@Html.RadioButtonFor(model => model.permisos, 1, new { @checked = "checked" }) Administrador</label>
                                         <label>@Html.RadioButtonFor(model => model.permisos, 0)Reclutador</label>
                                     }else{
                                         <label>@Html.RadioButtonFor(model => model.permisos, 1) Administrador</label>
                                         <label>@Html.RadioButtonFor(model => model.permisos, 0, new { @checked = "checked" })Reclutador</label>
                                     }
                                 </div>
                                 <div class="boton">
                                     <input type="submit" value="Guardar" class="btn btn-default" />
                                 </div>
                             </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


